@model WebApp.Models.Poliza

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Poliza</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datos_tomador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datos_tomador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_inicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_inicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_Fin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_Fin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_vencimiento_poliza_actual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_vencimiento_poliza_actual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Placa_Automotor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Placa_Automotor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
